/* src/App.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar Styles */
nav {
  background-color: #4CAF50;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #45a049;
  color: white;
}

/* Home Page Styles */
h1, h2 {
  color: #4CAF50;
}

.home-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.home-links a {
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-links a:hover {
  background-color: #45a049;
}

/* Menu and Meals Styles */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: white;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li img {
  max-width: 100px;
  border-radius: 5px;
}

ul li h2 {
  margin: 0 20px;
  flex-grow: 1;
}

ul li button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 170px;
}

ul li button:hover {
  background-color: #45a049;
}

ul li button .fa-heart {
  margin-right: 10px;
}

/* Meal Generator Page Styles */
.meal-card {
  background: white;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.meal-card img {
  max-width: 300px;
  border-radius: 5px;
}

.meal-card h2 {
  margin: 20px 0;
}

.meal-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.meal-card button:hover {
  background-color: #45a049;
}

.meal-card button .fa-heart {
  margin-right: 10px;
}

.menu_button{
  color: white; 
  text-decoration: none;
  font-size: 20px;
}

/* Styles for Generate Random Meal Button */
.generate-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.generate-button:hover {
  background-color: #45a049;
}

/* About Me Page Styles */
.about-me {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me p {
  margin: 20px 0;
  line-height: 1.6;
}

/* No Favourites Message */
.no-favourites-message {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}
